[submodule "dependencies/ReSource"]
	path = dependencies/ReSource
	url = https://github.com/Foglio1024/ReSource.git
[submodule "dependencies/Dragablz"]
	path = dependencies/Dragablz
	url = https://github.com/Foglio1024/Dragablz.git
# [submodule "dependencies/Nostrum"]
# 	path = dependencies/Nostrum
# 	url = https://github.com/Foglio1024/Nostrum.git
